.blue-box {
  background-color: #2293ed;
  color: white;
  text-align: right;
}

.dark-blue-box {
  background-color: #144770;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  width: 550px;
  margin-bottom: none;
  padding-bottom: none;
  height: 75px;
}

.green-box {
  background-color: #33cc66;
  color: white;
  margin: 10px;
  border-radius: 5px;
}

p {
  font-family: PT Sans;
}

#dashboard {
  color: white;
  font-family: PT Sans;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  color: black;
}

.container-1 input#search{
  width: 300px;
  height: 30px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.grey-container {
  background: linear-gradient(#f6f6f6, white);
  margin: 0px 25px 0px 25px;
  padding: 1px;
  border-radius: 5px;
  border: linear-gradient(#eeeeee, white) 1px solid;
}

.white-container {
  background-color: white;
  margin: 8px;
  border-radius: 5px;
  border: #f0f0f0 1px solid;
}

#announcements {
  color: orange;
  border-right: #f0f0f0 1px solid;
  text-align: center;
  margin-left: 10px;
  font-family: PT Sans;
  font-size: 1em;
  padding: 10px;
}

#lorem-ipsum {
  font-family: PT Sans;
  font-size: 1em;
  padding: 10px;
}

#arrows {
  display: inline-block;
}

h2 {
  color: #2498f4;
  font-family: PT Sans;
}

#tasks {
  border: #f0f0f0 solid 1px;
  border-left: none;
  border-right: none;
}

#analytics {
  border: #f0f0f0 solid 1px;
  border-right: none;
}

#blue-small-box {
  height: 18px;
  width: 72px;
  background: #114570;
  border: #114570 1px solid;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  padding-left: 7px;
}

#light-blue-small-box {
  height: 18px;
  width: 55px;
  background: #2298f4;
  border: #2298f4 1px solid;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  padding-left: 7px;
}

#blueish-small-box {
  height: 18px;
  width: 80px;
  background: #3a599b;
  border: #3a599b 1px solid;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  padding-left: 7px;
}

#green-small-box {
  height: 18px;
  width: 62px;
  background: #31cc66;
  border: #31cc66 1px solid;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  padding-left: 7px;
}

.checks {
  padding-left: 90px;
  padding-bottom: 20px;
}

h4 {
  color: #999999;
  font-family: PT Sans;
  font-size: 1em;
}

 p.number {
  margin: 3px 0px 0px -7px;
  color: white;
}

.numberlist {
  margin-bottom: 10px;

}

.grey-box {
  border: #eeeeee 1px solid;
  border-radius: 5px;
  display: inline-block;
}

.tiny-type {
  font-size: 7pt;
  color: #777777;
  margin-bottom: -4px;
}

.recommendations-type {
  font-size: 12pt;
  color: #777777;
  padding-top: none;
}

.customers-contacts {
  border: #eeeeee 1px solid;
  border-left: none;
  border-right: none;
  padding-top: 15px;
  padding-bottom: 20px;
}

.long-blue-box {
  height: 150px;
  width: 600px;
  background: #2498f4;
  color: white;
  border-radius: 2px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.did {
  margin: 30px 35px 30px 45px;
  display: inline-block;
}

.drop {
  display: inline-block;
}

.drop_menu {
	padding:0;
	margin:0;
	list-style-type:none;
	height:28px;
  display: inline-block;
  border-radius: 3px;
  border: #eeeeee 1px solid;
  padding: 2px;
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:4px 10px;
	display:block;
	color:grey;
	text-decoration:none;
  font-size: 11px;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background: white; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:white;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:white;
}
.drop_menu li:hover ul li a:hover { background:#005555; }

.activity {
  display: inline-block;
  margin-right: 20px;
  margin-left: 30px;
  font-size: 11px;
}

#iefix {
  position:relative;
  z-index:1000;
  left: 70px;
  float: right;
}

.carrot {
  border: #eeeeee 1px solid;
  border-right: none;
  border-bottom: none;
  border-top: none;
  display: inline-block;
  padding-left: 5px;
}

.date {
  margin-right: 10px;
}

.ads {
  background: #2498f4;
}

.hair-problem {
  position: relative;
  bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.ads {
  padding: 20px;
  width: 100%;
}

.centering {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ribbon1 {
  position: relative;
  left: 4px;
  bottom: 20px;
}

.ribbon2 {
  position: relative;
  right: 4px;
  bottom: 20px;
}

.ribbon3 {
  position: relative;
  left: 4px;
  bottom: 19px;
}

.ribbon4 {
  position: relative;
  right: 4px;
  bottom: 19px;
}

.footer {
  background: #ffffff;
}

.inline {
  display: inline-block;
}

.winter {
  color: #2498f2;
  font-style: bold;
  border-left: #999999 1px solid;
  padding-left: 5px;
}

.social-media {
  margin-left: 3px;
}

@media (max-width:768px) {
.long-blue-box {
  width:100%;
}
